* {
    color: #374151;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Italic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: black;
    color: aliceblue;
}

/* Header Section */

header {
    padding: 2rem 1rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* Form Styling */

#form {
    display: flex;
    /* color:darkkhaki; */
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#input {
    flex: 1 1 0%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: black;
    font-size: 1.25rem;
}

#input::placeholder {
    color: black
}

#submit {
    background-color: rgb(43, 30, 3);
    border-radius: 5px;
    color: rgb(142, 230, 241);
    font-size: 1.50rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

#submit:hover {
    opacity: 0.8;
}

#submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    width: 100%;
    margin: 0 auto;
}

/* Task Styling */

.Alltask {
    padding: 1rem;
}

.Alltask h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(255, 253, 127);
    margin-bottom: 1rem;
}

/*  Added Task Styling */

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--yellow);
}

#tasks .task .actions {
    display: flex;
    margin: 0 --0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    color:orange
}

.task .actions .delete {
    color:pink;
}

/* Heading styling */

#head2 {
    text-align: center;
    color: yellowgreen;
    text-underline-offset: var(--light);
}

:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
    --red: #ff0000;
    --yellow: #ffff00
}